
.form-login{
    height: 100vh;

    .login__nav{
        display: flex;
        height: 100vh;
        // align-items: center;
        background-color: #f9f9f9;;
        color: $black-color;
        justify-content: center;
    
        .login__wrapper{
            text-align: center;
            width: 350px;
            
    
            .login__content{
                width: 100%;
                margin-top: 100px;
                background-color: $white-color;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba($blue-color, 0.2);
                text-align: left;
                padding: 20px 25px;
                
                h2{
                    text-align: center;
                    font-size: 2.5rem;
                    line-height: 150%;
                    letter-spacing: 1px;
                    margin-bottom: 14px;
                    font-weight: 500;
                    color: $blue-color;
                }
                .login{
                    &__email,&__password{
                        margin: 20px 0;  
                        position: relative;

                        &__text{
                            position: absolute;
                            top: 12px;
                            left: 18px;
                            color: rgba($black-color,0.5);
                            transition: all 0.4s;
                            pointer-events: none;
                            background-color: $white-color;
                            padding: 0 5px;
                            font-size: 1.4rem;
                        }

                        &__input{
                            width: 100%;
                            padding: 10px 18px;
                            border: 1px solid  rgba($blue-color,0.35);
                            outline: none;
                            border-radius: 6px;
                            color: $text-color;
                            line-height: 150%;
                            display: block;
                            font-size: 1.4rem;
                            letter-spacing: 0.5px;
                            &:focus,
                            &:valid{
                                & ~ p{
                                    font-size: 1.2rem;
                                    top: -20%;
                                    left: 3.5%;
                                    color: $blue-color;
                                }
                            }
                            
                        }

                        
                        
                        
                    }
    
                    &__btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 0px;
                        font-size: 1.5rem;
                        line-height: 130%;
    
                        button{
                            padding: 15px 50px;
                            letter-spacing: 1.5px;
                            font-size: 1.5rem;
                            border: none;
                            font-weight: 600;
                            border-radius: 5px;
                            color: $white-color;
                            background-color: $blue-color;
                            cursor: pointer;
                            text-transform: uppercase;
    
                            &:hover{
                                transform: scale(0.95);
                                opacity: 0.9;
                            }
                        }
    
                    }
                }
            
                p.login-err{
                    font-size: 1.3rem;
                    letter-spacing: 0.5px;
                    color: red;
                    padding-left: 10px;
                }
    
            }
        }
    }
}